/* =====GENERAL STYLES========*/

h1 {
  font-size: 4.3rem;
  font-weight: 600;
   }

h2 {
  font-size: 3rem;
  font-weight: 1000;
  margin-top: 6rem;
  margin-bottom: 4rem;  
 }

.video{
  display: block;
  text-align: center;
  font-size: 2rem;
}

.montserrat, .video, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

.nunito, h1{
  font-family: 'Nunito', sans-serif;
}

.button{
  display: block;
  margin: 2rem auto;
}

.white{
  color: white;
}

.black{
  color: black;
}

/*====NAVIGATION===*/

nav {
  background-color: rgba(0,0,0, .9);  
}

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 0.7rem 2.4rem;
  font-family: 'Titillium Web', sans-serif;
}

.login {
  border: 1px solid #fff;
  border-radius: 9999px;
}

nav a:hover {
  color: rgb(255,185,0);
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.login:hover {
  color: #000;
  background-color: rgb(255,185,0);
  border: 1px solid  rgb(255,185,0);
  text-decoration: none;
  transition: background-color .5s ease-in-out;
}

.verti {
  display: inline;
  margin: .2rem;
  color: white;
}

.logo{
  width: 7rem;
  height: 7rem;
  margin-top: 5rem;
  margin-left: 5rem;
}

.glyphicon{
  color: white;
}

.hidde{
  display: none;
}

.right{
  float: right;
  margin-right: 5rem;
  margin-top: 5rem;
 }

.right::after {
  display: block;
  content: "";
  clear: both;
}

@media (min-width: 768px) {
  
  .hidde{
    display: inline-block;
      }
  
  .right{
    display: none;
  }  
  }

/*===HEADER===*/

.black-bg{
  background-color: black;
}

.gomb{
    display: block;
  }

.line::after {
  display: block;
  content: "";
  background-color: white;
  width: 20rem;
  height: 1px;
  margin-left: 5rem;
  
}

.line::after:hover {
  display: block;
  content: "";
  background-color: orange;
  width: 20rem;
  height: 1px;
  margin-left: 5rem;
  
}

@media (min-width: 768px) {
  
  .gomb{
    display: none;
  }
}

.black-bg{
  background-color: black;
}



/*===LINKS====*/

.feher-narancs {
  color: white;
  
}

.feher-narancs:hover {
  color:  rgb(255,185,0);
  text-decoration: none;
}

.feher-fekete {  
  color: white;  
}

.feher-fekete:hover {
  color: black;
  text-decoration: none;
}

.fekete-narancs {  
  color: black;  
}

.fekete-narancs:hover {
  color:  rgb(255,185,0);
  text-decoration: none;
}



ul {
  list-style-type: none;
  margin-left: 5rem;
  line-height: 5rem;
}

.gray{
  background-color: rgb(240,240,240);
  padding-left: 3rem;
}
.orange{
  background-color:  rgb(255,185,0);
}

.orangeletter{
  color:  rgb(255,185,0);
}

.circle{
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background-color:  rgb(255,185,0);
  color: white;
  font-size: 3rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

.container{
  margin: 0;
}

/*===ARENA===*/

.cover1 {
  background: url('http:mvm-cashcard.hu/img/mvm_banner_arena_01.svg') no-repeat;
  background-size: auto;
  background-position: 50% 20%;
  display: table;
  text-align: left;
  height: 100vh;
  width: 40vw; 
  
}

.text-wrapper1 {
  display: table-cell;
  vertical-align: middle;
  }

.text1 {  
  color: black;  
  font-size: 1.5rem;
  width: 35rem;
  margin-left: 5rem;
  margin-top: -30rem;
}

.arena-big{
  font-size: 2.2rem;
  line-height: 5rem;
  font-weight: 600;
}

.arena-small{
  font-size: 1.7rem;
  width: 30rem;
  font-weight: 600;
}


.padding{
  padding: 3rem;
}

@media (min-width: 768px) {
  .middle{
  margin-top: 30rem;
}
}

/*====MVM HOGYAN====*/

.cover2 {
  background: url('http:mvm-cashcard.hu/img/mvm_banner_cashcard_02.svg') no-repeat center center;
  background-position: 50% 20%;
  display: table;
  text-align: left;
  height: 100vh;
  width: 40vw;
}

.text-wrapper2 {
  display: table-cell;
  vertical-align: middle;
}

.text2 {
  color: black;  
}

.tagline2 {
  font-size: 1.5rem;
  width: 35rem;
  margin: -30rem 5rem 0 5rem;
  font-weight: 600;
  }

@media (min-width: 768px) {
  
  .hiddenen{
  display: none;
}
}

/*===MVM MIÉRT====*/

.padding2{
  margin: 3rem 0;
}
.why{
 margin: 0;
  padding: 0;
  
}

.why::after {
  display: block;
  content: "";
  background-color: black;
  height: 1px;  
}

.card{
  width: 90vw;
  height: 50vh;
}

.card {    
    position: relative;
    -webkit-animation-name: card; 
    -webkit-animation-duration: 4s; 
    animation-name: card;
    animation-duration: 4s;
}


@-webkit-keyframes card {
    0%   {left:0px; top:0px;}
    100%  {left:200px; top:0px;}
    
}


@keyframes card {
    0%   {left:0px; top:0px;}
    100%  {left:200px; top:0px;}
    
}

/*====ALKALMAZÁS====*/

.store{
  width: 10rem;
  height: 4rem;
  margin: 3rem 5rem;
}

.phone{
  width: 90vw;
  height: 50vh;
}

.phone {    
    position: relative;
    -webkit-animation-name: phone; 
    -webkit-animation-duration: 4s; 
    animation-name: phone;
    animation-duration: 4s;
}


@-webkit-keyframes phone {
    0%   {left:200px; top:0px;}
    100%  {left:0px; top:0px;}
    
}


@keyframes phone {
    0%   {left:0px; top:0px;}
    100%  {left:200px; top:0px;}
    
}

/*====FOOTER====*/

.glyphicon{
  padding: 2rem;
  margin-left: 3rem;
  }