/*====NAVIGATION===*/

nav {
  background-color: rgba(0,0,0, .8);
  
}

nav a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: #fff;
  padding: 1rem 1rem;
}

.login {
  border: 1px solid #fff;
  border-radius: 9999px;
}

nav a:hover {
  color: orange;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.login:hover {
  color: #000;
  background-color: orange;
  border: 1px solid orange;
  text-decoration: none;
  transition: background-color .5s ease-in-out;
}

.verti {
  display: inline;
  margin: .2rem;
  color: white;
}

.logo{
  width: 7rem;
  height: 7rem;
  
}

.glyphicons{
  color: white;
}

@media (min-width: 768px) {
  
}



/*===HEADER===*/

/*===VIDEO===*/


h1 {
  font-size: 4rem;
  font-weight: 600;
 }

h2 {
  font-size: 4rem;
  font-weight: 600;
 }

/*===LINKS====*/

.feher-narancs {
  color: white;
  
}

.feher-narancs:hover {
  color: orange;
}

.feher-fekete {
  
  color: white;
  
}

.feher-fekete:hover {
  color: black;
}

.fekete-narancs {
  
  color: black;
  
}

.fekete-narancs:hover {
  color: orange;
}

.video{
  text-decoration: underline;
}

.video:hover{
  text-decoration: underline;
}

.button{
  display: block;
  text-align: center;
}
.white{
  color: white;
}

.black{
  color: black;
}

.orange{
  background-color: orange;
}

.orangeletter{
  color: orange;
}

.row{
  height: 80vh;
}

.circle{
  border-radius: 50%;
  background-color: orange;
  color: white;
}

.container{
  margin: 0;
}